
<header ng-include="'./views/templates/header.html'"></header>

  <form>
    <span class="error-message-container"><h5> {{mc.errorMessage}} </h5></span>
    <section>
      <h6> Contact Name </h6>
      <div>
        <label> First </label>
        <input type="text" ng-model="mc.form.firstName">
      </div>
      <div>
        <label> Last </label>
        <input type="text" ng-model="mc.form.lastName">
      </div>
    </section>

    <section>
      <h6> Contact Info. </h6>
      <div>
        <div>
          <label> Address </label>
          <input type="Address" ng-model="mc.form.contactAddress">
        </div>
        <div>
          <label> City </label>
          <input type="Address" ng-model="mc.form.contactCity">
        </div>
        <div>
          <label> State </label>
          <input type="Address" ng-model="mc.form.contactState">
        </div>
        <div>
          <label> Zip </label>
          <input type="number" ng-model="mc.form.contactZip">
        </div>
      </div>

      <div>
        <label> Email </label>
        <input type="email" ng-model="mc.form.contactEmail">
      </div>

      <div>
        <label> Phone Number </label>
        <input type="tel" ng-model="mc.form.contactPhone">
      </div>
    </section>

    <section>
      <div>
        <label> Comments </label>
        <!-- <input type="text" ng-model="mc.form.comments"> -->
        <textarea name="name" rows="8" cols="30" ng-model="mc.form.comments"></textarea>
      </div>
    </section>
    <section class="button-container">
      <button type="button" ng-click="mc.submitRequest(mc.form)"> Submit </button>
    </section>
  </form>

<footer ng-include="'./views/templates/footer.html'"></footer>
