
/*reset*/
* {
  padding: 0px;
  margin: 0px;
  font: 12px;
  font-family: serif sans-serif;
}

/*setting app display size*/
body {
  height: 100vh;
  width: 100vw;
}

/*setting main display size*/
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 100vw;
  align-items: center;
  background-color: #b0b0b0;
}
header img {
  height: 10vh;
  padding-left: 20px;
}


form {
  display: flex;
  flex-direction: column;
  height: 82vh;
  width: 100vw;
}
form .error-message-container {
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
form section {
  width: 50%;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}
form section h6 {
  font-style: italic;
  margin: 5px;
}
form .button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
form .button-container button {
  height: 30px;
  width: 80px;
  background-color: #1c44d0;
  color: #ffffff;
}


footer {
  display: flex;
  flex-direction: row;
  height: 6vh;
  width: 100vw;
  align-items: center;
  background-color: #b0b0b0;
}
footer h6 {
  padding-left: 20px;
}
