
/*reset*/
* {
  padding: 0px;
  margin: 0px;
  font: 12px;
  font-family: serif sans-serif;
}

/*setting app display size*/
body {
  height: 100vh;
  width: 100vw;
}

/*setting main display size*/
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* color: #ffffff; */
}

header {
  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 100vw;
  align-items: center;
  background-color: #b0b0b0;
}
header img {
  height: 10vh;
  padding-left: 20px;
}


form {
  display: flex;
  flex-direction: column;
  height: 82vh;
  width: 100vw;
  justify-content: center;
  /* background-image: url('../assets/images/background.png'); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}
form .error-message-container {
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: #ff0008;
  font-size: 20px;
}
form section {
  display: flex;
  flex-direction: column;
  margin: 6px auto;
  justify-content: center;
  width: 40vw;
}
.border{
  /* border: 1px solid #000000; */
  border-radius: 10px;
  padding: 30px 20px;
}
form section h6 {
  font-style: italic;
  margin: 5px;
}
form .container-input {
  display: flex;
  padding-left: 70px;
}
.container-input label {
  width: 50px;
}
.container-input input, select {
  height: 15px;
  width: 175px;
}
form textarea {
  background-color: transparent;
  color: #ffffff;
}
form .button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
form .button-container button {
  height: 30px;
  width: 80px;
  background-color: #1c44d0;
}


footer {
  display: flex;
  flex-direction: row;
  height: 6vh;
  width: 100vw;
  align-items: center;
  background-color: #b0b0b0;
}
footer h6 {
  padding-left: 20px;
}
